<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%#= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%#= wicked_pdf_javascript_include_tag "number_pages" %>
    
    <style>
      #header {

      }

      body {
        background-color: #EEE;
      }

      div.alwaysbreak { page-break-before: always; }
      div.nobreak:before { clear:both; }
      div.nobreak { page-break-inside: avoid; }
    </style>
  </head>


  <body onload='number_pages' class="" ss="nobreak">
    <header id="header" class="nobreak">
      <%= wicked_pdf_image_tag 'logo' %>
    </header>
    <div id="content" class="nobreak">
      <%= yield %>
      <h1>Pollos Rivera</h1>
      <h2><%= @sale_note.client.name %></h2>
    </div>
  </body>
</html>